<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="./../../../assets/icon/jbarpoultryiconroundtransparent.png"
            alt="JBar logo"
            loading="eager"
          />
        </ion-col>
        <ion-col size-md="7" size="12" class="welcome">
          <ion-card-content>
            <ion-card-header>
              Please enter an email below. If the email is found to be linked to
              an existing account, then an email with a reset link will be sent.
            </ion-card-header>
            <ion-item lines="none" color="light" class="rowStyle">
              <ion-input
                type="text"
                (keyup.enter)="sendReset()"
                placeholder="your email"
                required
                ngDefaultControl
                [(ngModel)]="email"
              ></ion-input>
            </ion-item>
            <ion-button
              *ngIf="!loading"
              [disabled]="disableSendReset()"
              (click)="sendReset()"
              shape="round"
              color="primary"
              class="signInButton"
            >
              Send Reset Email
            </ion-button>
            <ion-item lines="none" *ngIf="loading">
              <ion-spinner color="primary" *ngIf="loading"></ion-spinner>
            </ion-item>
            <ion-item lines="none" class="signUpButton">
              <a
                style="text-decoration: none"
                href="javascript:;"
                (click)="cancel()"
              >
                &#60; CANCEL
              </a>
            </ion-item>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
