<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="./../../../assets/icon/jbarpoultryiconroundtransparent.png"
            alt="JBar logo"
            loading="lazy"
          />
        </ion-col>
        <ion-col size-md="7" size="12" class="welcome">
          <ion-card-content>
            <ion-card-header> Please enter the information necessary to create your J-Bar Poultry account! </ion-card-header>
            <ion-item lines="none" color="light" class="rowStyle">
              <ion-input type="text" placeholder="your name" required ngDefaultControl [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item lines="none" color="light" class="rowStyle">
              <ion-input type="text" placeholder="your email" required ngDefaultControl [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item lines="none" color="light" class="rowStyle">
              <ion-input [type]="passwordType" placeholder="your password" required ngDefaultControl [(ngModel)]="password"></ion-input>
              <ion-icon slot="end" [name]="showHideIconPassword" ngClass="security-icon" (click)="showHidePassword()"></ion-icon>
            </ion-item>
            <ion-item lines="none" color="light" class="rowStyle">
              <ion-input [type]="codeType" placeholder="account creation code" required ngDefaultControl [(ngModel)]="creationCode"></ion-input>
              <ion-icon slot="end" [name]="showHideIconCode" ngClass="security-icon" (click)="showHideCode()"></ion-icon>
            </ion-item>
            <ion-button [disabled]="disableSignUp()" (click)="signUp()" shape="round" color="primary" class="signInButton"> Sign up </ion-button>
            <ion-item lines="none" class="signUpButton">
              <a style="text-decoration:none" href="javascript:;" (click)="cancel()"> &#60; CANCEL </a>
            </ion-item>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
