.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    ion-card {
      max-width: 780px;
      .ion-blue-bkg {
        background-color: #4d814a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          height: 90%;
        }
      }
  
      .welcome {
        #trigger-icon {
          float: right;
          margin-bottom: 16px;
        }
      }
    }
  }
  
@media screen and (max-width: 780px) {
    .card-container {
        ion-card {
        .ion-blue-bkg {
            max-height: 200px;
        }
        .welcome {
            min-height: 200px;
        }
        }
    }
}

.rowStyle {
    left: 5%;
    width: 90%;
    border-radius: 30px;
    margin-top: 10px;
    //max-width: 350px;
}

.signInButton {
    margin-top: 15px;
    margin-left: 5%;
    height: 40px;
}
  
.signUpButton {
    margin-top: 12px;
    left: 3%;
    font-size: small;
}

.forgotPassword {
    font-size: small;
    float: right;
    right: 5%;
    margin-top: 5px;
}
