<div class="card-container">
  <ion-card *ngIf="true">
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
        <ion-item lines="none" class="settingsHeader">
          Lots In Process
        </ion-item>
      </ion-col>
      <ion-col size-md="7" size="12" class="welcome">
        <ion-card-content>
          <h2 class="ion-padding">{{ currentDate }}</h2>
          <ion-spinner color="primary" *ngIf="loading"></ion-spinner>
          <ion-list>
            <ion-item-sliding *ngFor="let lot of lots">
              <ion-item (click)="onLotSelected(lot)" button detail>
                <ion-label>
                  <h3>{{ lot.lotNumber }}</h3>
                  <p>{{ lot.customer.name }} - {{ lot.species }}</p>
                  <p>Count: {{ lot.customerCount }}</p>
                </ion-label>
              </ion-item>
              <ion-item-options side="end" *ngIf="isAdmin">
                <ion-item-option
                  color="danger"
                  (click)="confirmDeleteLot(lot, $event)"
                >
                  Delete
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
          <div class="ion-padding-top ion-margin-top ion-text-center" *ngIf="userRole !== 'inspector'">
            <ion-button color="tertiary" (click)="generateLotLabels()">
              Generate Lot Labels
            </ion-button>
            <ion-button color="tertiary" (click)="generateSchedule()">
              Generate Daily Worksheet
            </ion-button>
          </div>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
<ion-fab slot="fixed" vertical="bottom" horizontal="center" [edge]="true" *ngIf="userRole !== 'inspector'">
  <ion-fab-button id="newLotModal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal
  #modal
  trigger="newLotModal"
  canDismiss="true"
  (didDismiss)="modalDismissed()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar color="light">
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()"> Cancel </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            color="secondary"
            strong
            (click)="addLot()"
            [disabled]="disableAddLot()"
          >
            Add
          </ion-button>
        </ion-buttons>
        <ion-title> New Lot </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-item>
      <ion-label position="stacked">Customer</ion-label>
      <ionic-selectable
        [(ngModel)]="newLotCustomer"
        [items]="customers"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        (onChange)="customerChange($event)"
      >
      </ionic-selectable>
    </ion-item>

    <ion-item class="ion-margin-top">
      <ion-select
        label="Species"
        labelPlacement="stacked"
        [(ngModel)]="newLotSpecies"
        placeholder="Select Species"
        interface="popover"
      >
        <ion-select-option *ngFor="let type of poultryTypes" [value]="type"
          >{{ type }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ng-template>
</ion-modal>
