<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="hideMenu()">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <img
          src="./../../../assets/icon/jbarpoultryiconroundtransparent.png"
          alt="JBar logo"
          loading="eager"
          width="150px"
          height="150px"
          class="center"
        />
        <ion-list id="feature-list">
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item *ngIf="i == 0">
              <span class="userDisplay"
                >Welcome,<br />{{ userDisplayName }}!</span
              >
              <ion-item
                lines="none"
                slot="end"
                routerDirection="root"
                [routerLink]="[settingsUrl]"
                routerLinkActive="selected"
              >
                <ion-icon
                  aria-hidden="true"
                  slot="end"
                  [ios]="'settings-outline'"
                  [md]="'settings-sharp'"
                  (click)="gotoSettings()"
                ></ion-icon>
              </ion-item>
            </ion-item>
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-button class="logoutButton" (click)="logOut()">Log Out</ion-button>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-router-outlet *ngIf="!hideMenu()"></ion-router-outlet>
</ion-app>
