<div class="card-container">
  <ion-card *ngIf="!(showEdit || showChangePassword)">
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
        <ion-item lines="none" class="settingsHeader">
          User Information
        </ion-item>
      </ion-col>
      <ion-col size-md="7" size="12" class="welcome">
        <ion-card-content>
          <ion-card-header>
            {{ userName }} <br />
            {{ userEmail }} <br />
            <br />
            User ID: <br />
            {{ userId }}
          </ion-card-header>
          <ion-button
            [disabled]="disableEditInfo()"
            (click)="gotoEditUserInfo()"
            shape="round"
            color="primary"
            class="signInButton"
          >
            Edit Information
          </ion-button>
          <ion-button
            [disabled]="disableChangePassword()"
            (click)="gotoChangePassword()"
            shape="round"
            color="primary"
            class="signInButton"
          >
            Change Password
          </ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="showEdit">
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
        <ion-item lines="none" class="settingsHeader">
          Edit User Information
        </ion-item>
      </ion-col>
      <ion-col size-md="7" size="12" class="welcome">
        <ion-card-content>
          <ion-item lines="none" color="light" class="rowStyle">
            <ion-input
              type="text"
              [placeholder]="userName"
              required
              ngDefaultControl
              [(ngModel)]="newName"
            ></ion-input>
          </ion-item>
          <ion-item lines="none" color="light" class="rowStyle">
            <ion-input
              type="text"
              [placeholder]="userEmail"
              required
              ngDefaultControl
              [(ngModel)]="newEmail"
            ></ion-input>
          </ion-item>
          <ion-item
            lines="none"
            color="light"
            class="rowStyle"
            *ngIf="newEmail"
          >
            <ion-input
              type="text"
              placeholder="confirm new email"
              required
              ngDefaultControl
              [(ngModel)]="newEmailConfirm"
            ></ion-input>
          </ion-item>
          <ion-button
            [disabled]="disableSaveInfo()"
            (click)="saveUserInfo()"
            shape="round"
            color="primary"
            class="signInButton"
          >
            Save Information
          </ion-button>
          <ion-button
            (click)="cancelEditInfo()"
            shape="round"
            color="secondary"
            class="signInButton"
          >
            Cancel
          </ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="showChangePassword">
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
        <ion-item lines="none" class="settingsHeader">
          Change Password
        </ion-item>
      </ion-col>
      <ion-col size-md="7" size="12" class="welcome">
        <ion-card-content>
          <ion-item lines="none" color="light" class="rowStyle">
            <ion-input
              [type]="passwordNewType"
              placeholder="your new password"
              required
              ngDefaultControl
              [(ngModel)]="newPassword"
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="showHideIconNew"
              ngClass="security-icon"
              (click)="showHideNewPassword()"
            ></ion-icon>
          </ion-item>
          <ion-item lines="none" color="light" class="rowStyle">
            <ion-input
              [type]="passwordConfirmType"
              placeholder="confirm new password"
              required
              ngDefaultControl
              [(ngModel)]="newPasswordConfirm"
            ></ion-input>
            <ion-icon
              slot="end"
              [name]="showHideIconConfirm"
              ngClass="security-icon"
              (click)="showHideConfirmPassword()"
            ></ion-icon>
          </ion-item>
          <ion-button
            [disabled]="disableSaveNewPassword()"
            (click)="saveNewPassword()"
            shape="round"
            color="primary"
            class="signInButton"
          >
            Save Password
          </ion-button>
          <ion-button
            (click)="cancelChangePassword()"
            shape="round"
            color="secondary"
            class="signInButton"
          >
            Cancel
          </ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
<div class="card-container" *ngIf="false">
  <ion-card>
    <ion-row>
      <ion-col size-md="5" size="12" class="ion-padding ion-blue-bkg">
        <ion-item lines="none" class="settingsHeader">
          User Preferences
        </ion-item>
      </ion-col>
      <ion-col size-md="7" size="12" class="welcome">
        <ion-card-content>
          <ion-card-header>
            Section to add preferences later, for notifications etc.
          </ion-card-header>
          <ion-button
            [disabled]="disableEditPreferences()"
            (click)="gotoEditUserPreferences()"
            shape="round"
            color="primary"
            class="signInButton"
          >
            Edit Preferences
          </ion-button>
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-card>
</div>
<ion-modal
  [isOpen]="openModal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
  canDismiss="true"
  (didDismiss)="modalDismissed($event)"
>
  <ng-template>
    <div class="card-container">
      <ion-card-content>
        <ion-card-header>
          Please authenticate your account with your password to edit your
          account settings or password!
        </ion-card-header>
        <ion-item lines="none" color="light" class="rowStyle">
          <ion-input
            [type]="passwordType"
            (keyup.enter)="login()"
            placeholder="your password"
            required
            ngDefaultControl
            [(ngModel)]="password"
          ></ion-input>
          <ion-icon
            slot="end"
            [name]="showHideIcon"
            ngClass="security-icon"
            (click)="showHidePassword()"
          ></ion-icon>
        </ion-item>
        <ion-button
          [disabled]="disableSignIn()"
          (click)="login()"
          shape="round"
          color="primary"
          class="signInButton"
          >Sign in</ion-button
        >
      </ion-card-content>
    </div>
  </ng-template>
</ion-modal>
