/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'swiper/css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import '@ionic/angular/css/palettes/dark.system.css';

:root {
  --ion-color-primary: #4d814a;
  --ion-color-primary-rgb: 77,129,74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #447241;
  --ion-color-primary-tint: #5f8e5c;

  --ion-color-secondary: #006600;
  --ion-color-secondary-rgb: 0, 102, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #005a00;
  --ion-color-secondary-tint: #1a751a;

  --ion-color-tertiary: #A3B2A0;
  --ion-color-tertiary-rgb: 163, 178, 160;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #8FA28C;
  --ion-color-tertiary-tint: #B7C6B4;
}

.weekview-normal-event-container {
  position: relative !important;
}

.dayview-normal-event-container {
  position: relative !important;
}

ion-item {
  --min-height: 16px;
}

ion-input {
  border-color: transparent !important;
}

ion-valid {
  border-color: transparent !important;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: black;
  --border-color: transparent;
}

.ion-touched.ion-invalid.sc-ion-input-md-h {
  --highlight-color: black;
}

.sc-ion-input-md-h {
  --highlight-color-focused: black;
  --highlight-color-valid: black;
  --highlight-color-invalid: black;
  --highlight-color: black;
}

.ion-valid.sc-ion-input-ios-h {
  --highlight-color: black;
  --border-color: transparent;
}

.ion-touched.ion-invalid.sc-ion-input-ios-h {
  --highlight-color: black;
}

.sc-ion-input-ios-h {
  --highlight-color-focused: black;
  --highlight-color-valid: black;
  --highlight-color-invalid: black;
  --highlight-color: black;
}

ion-toast.success-toast {
  --background: var(--ion-color-primary-tint);
  --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
  --color: #ffffff;
  text-align: center;
}

ion-alert {
  z-index: 999999 !important;
}

.monthview-primary-with-event, .calendar-event-inner {
  background-color: grey !important;
}

.monthview-current {
  font-weight: bold;
  background-color: var(--ion-color-primary-contrast) !important;
  color: var(--ion-color-primary) !important;
}

.monthview-selected {
  font-weight: bold;
  background-color: var(--ion-color-secondary-tint) !important;
  color: var(--ion-color-primary-contrast) !important;
}

.arrowCol {
  display: flex;
  justify-content: center;
}

.calendar-event {
  width: 100% !important;
}

.calendar-event-inner {
  height: 50px;
}
